body{
    margin: 0;
    display: grid;
    grid: auto-flow min-content / repeat(3, 1fr);
    grid-template-areas: "header      header      header     "
                         "recipe_name recipe_name recipe_name"
                         "img1        img2        img3       "                        
                         "ingredients steps       steps      ";
    gap: 1.5em;
    margin: 3em 2em 3em 2em;
    background-color: antiquewhite;
}

img{
    height: auto;
    max-width: 100%;
    max-height: 18em;
    justify-self: center;
    align-self: center;
}

h1{
    grid-area: header;
    font-size: 25px;
    margin: 0;
    font-family: Verdana;
}

h2{
    grid-area: recipe_name;
    justify-self: center;
    margin: 0;
}

h3{
    font-size: 20px;
    font-style: normal;
}

ul, ol{
    margin: 0;
    padding: 0;
    padding-left: 25px;
}

p{
    margin: 0;
}

li{
    padding: 5px 0;
    font-size: 17px;
}

@media screen and (max-width: 1050px) {
    img{
        max-height: 15em;
    }
}

@media screen and (max-width: 850px) {
    body{
        grid: auto-flow min-content / repeat(3, 1fr);
        grid-template-areas: "header      header      header     "
                             "recipe_name recipe_name recipe_name"
                             "ingredients ingredients ingredients"
                             "steps       steps       steps      "
                             "img1        img1        img1       "
                             "img2        img2        img2       "
                             "img3        img3        img3       "
                             ;
    }

    img{
        max-height: 19em;
    }
}

@media screen and (max-width: 420px) {
    h2{
        font-size: 20px;
    }
}

#img1{
    grid-area: img1;
}

#img2{
    grid-area: img2;
}

#img3{
    grid-area: img3;
}

#ingredients{
    grid-area: ingredients;
    font-style: italic;
}

#steps{
    grid-area: steps;
    font-style: italic;
}